<!-- IF postrow.S_PIN_AVAILABLE -->
<li>
    <!-- IF postrow.POST_PIN -->
    <a href="{postrow.U_UNPIN_POST}" title="{L_UNPIN_POST}" class="button button-icon-only unpin-post-button"><i
            class="icon fa-thumb-tack fa-fw" aria-hidden="true"></i></a>
    <!-- ELSE -->
    <a href="{postrow.U_PIN_POST}" title="{L_PIN_POST}" class="button button-icon-only unpin-post-button"><i
            class="icon fa-thumb-tack fa-fw" aria-hidden="true"></i></a>
    <!-- ENDIF -->
</li>
<!-- ENDIF -->
